<div>
  <div class="form-group">
    <input class="form-control" #username type="text" placeholder="Username" />
  </div>
  <div class="form-group">
    <input class="form-control" #password type="password" placeholder="Password" />
  </div>
  <div class="form-group">
    <button (click)="loginClick(username.value, password.value)" class="btn btn-primary">Login</button>
  </div>
  <p *ngIf="errorMessage" class="login-error">
    {{errorMessage}}
  </p>
  <p *ngIf="loginPending">Loading...</p>
</div>
